<!-- FILENAME: index.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Chu-Do List</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <main class="container">
            <!-- header + task creation card -->
            <div class="add-task-card">
                <!-- title + add task btn -->
                <header class="app-header">
                    <h1>Chu-Do List</h1>
                    <button id="add-task-btn" type="button">+</button>
                </header>
                
                <!-- task creation section -->
                <section class="task-form-section hidden" id="task-form-section">
                    <hr class="section-divider">
                    <div class="task-form-header">
                        <h2>Create a Task</h2>
                    </div>

                    <!-- form for task creation -->
                    <form id="task-form">
                        
                        <!-- takes task name and due date input -->
                        <p>Task</p>
                        <input type="text" id="task-name" name="task" placeholder="What are we up to?" required>
                        
                        <p>Deadline</p>
                        <input type="datetime-local" id="due-date-time" name="dueDateTime">
                        
                        <!-- values are numbers to match constants in JS -->
                        <p>Priority</p>
                        <select id="priority-select" name="prioritySelect">
                            <option value="1">High</option>
                            <option value="2">Medium</option>
                            <option value="3">Low</option>
                        </select>

                        <!-- note: below are default tags, user can create new ones -->
                        <p>Tag</p>
                        <select id="tag" name="tag">
                            <option value="none" selected>No tag</option>
                            <option value="academic">Academic</option>
                            <option value="personal">Personal</option>
                        </select>

                        <br>
                        <button type="submit" id="submit-btn">Add Task</button>
                    </form>
                </section>
            </div>
            
            <!-- task list section -->
            <section class="task-list-section">
                <h2>Your Tasks</h2>
                <ul id="task-list">
                </ul>
            </section>

        </main>
        
        <footer>
            © 2026 chuhchi-org
        </footer>
        
        <!-- JS scripts -->
        <script src = "{{ url_for('static', filename='js/task.js') }}"></script>
        <script src = "{{ url_for('static', filename='js/tasksRender.js') }}"></script>
        <script src = "{{ url_for('static', filename='js/ui.js') }}"></script>
    </body>
</html>